<% layout( "layouts/boilerplate") -%>
    <a class="btn btn-primary" href="/campgrounds">Back Campgrounds</a>
    <h1 class="py-3" style="text-align: center;">
        <%=campground.title %>
    </h1>
    <div class="card col-6 offset-3">
        <img src="<%= campground.image %> " class="card-img-top img-fluid" alt="">
        <div class="card-body">
            <h5 class="card-title">
                <%= campground.title %>
            </h5>
            <p class="card-text">
                <%= campground.description %>
            </p>
            <small>Location:
                <%= campground.location %> </small>
            <p>Price:
                <%= campground.price %>
            </p>
        </div>

        <div class="card-body d-flex">
            <form action="/campgrounds/<%= campground._id %>?_method=DELETE " method="POST">
                <button style="line-height: 34px;" class="btn-danger">Delete</button>
            </form>
            <a class="btn btn-info mx-3" href="/campgrounds/<%= campground._id %>/edit ">Edit</a>

        </div>
    </div>